<section class="card">
    <header class="card__img">
        <img src="./assets/camiseta.jfif" alt="">
    </header>
    <section class="card__body">
        <h3>Camiseta estilo floripondio </h3>
        <ul class="card__size">
            <li><span>S</span></li>
            <li><span>M</span></li>
            <li><span>L</span></li>
            <li><span>X</span></li>
            <li><span>XL</span></li>
        </ul>

        <div class="card__price">
            <span class="card__original">$75.000</span>
            <span class="card__descuento">$50.000</span>
        </div>
    </section>
    <footer class="card__cta">
        <a href="./" class="card__btn">Ver mas...</a>
    </footer>
    
</section>
