<section class="container ">
<app-breadcrum></app-breadcrum>
<div class="product__container">
    <div class=""></div>
    <div class="grid" >
        <div class="" *ngFor="let product of productos let i = index">
            <app-card  [routerLink]="[product.descripcion]" [productos]="product"></app-card>
        </div>
        <div class="" *ngFor="let product of productos let i = index">
            <app-card  [routerLink]="[product.descripcion]" [productos]="product"></app-card>
        </div>
        <div class="" *ngFor="let product of productos let i = index">
            <app-card  [routerLink]="[product.descripcion]" [productos]="product"></app-card>
        </div>
        <div class="" *ngFor="let product of productos let i = index">
            <app-card  [routerLink]="[product.descripcion]" [productos]="product"></app-card>
        </div>
    </div>
</div>
    
</section>
