.flotante{
    position: fixed;
    bottom: .8rem;
    right: .8rem;
    z-index: 1000;
   
}

.flotante__container{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    background: #4dc247;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.7);
}

.icono{

    font-size: 2rem;
}