.hero__img{
    width: 100%;
}

.category{
    margin: 5rem auto;
}

.category__item{
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
    overflow: hidden;
}

.category__img{
    width: 100%;
    
}

.category__text{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    padding: .5rem;
    margin: 0;
    bottom: .2rem;
    left: 0;
    right: 0;
    width: 100%;
    background: hsla(210, 78%, 9%, 0.5);
}

.recomendados{
    width: 100%;
    text-align: center;
    line-height: .1rem;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 2.5rem ;
    font-weight: 300;
}

.recomendados span{
    color: var(--primary-color);
    font-size: 1.2rem;
    background: #EEEEEE;
    padding: .5rem ;
}

.side{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background: var(--black-color);
    z-index: 1;
    transition: .3s all ease-out;
}

.open{
    left: 0;
    overflow: hidden;
}

@media screen and (min-width: 550px) {
    .category--sec{
        display: grid;
        gap: 0 10px; 
        grid-template-areas:
        'item1 item1 item2 item2'
        'main item3 item3 right';
        overflow: hidden;
    }
    .item1{grid-area: item1;}
    .item2{grid-area: item2;}
    .item3{grid-area: item3;}

    .recomendados span{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px){
    .recomendados{
        line-height: 0rem;
    }
    .recomendados span{
        font-weight: 400;
        font-size: 1.6rem;
    }
}


@media screen and (min-width: 900px) {
    .hero__img{
        width: 100%;
        content: url(/assets/desktop/hero.svg);
    }
    .category--sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        grid-template-areas:
        "item1 item2 item3";
        overflow: hidden;
    }

    .category__text{
        font-size: 1.5rem;
    }


}

/* .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bx{
    font-size: 5rem;
    color: var(--primary-color);
}

.details__text{
    font-size: 1.5rem;
    color: var(--primary-color);
} */
