<swiper [config]="config">
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
</swiper>

<section class="container category category--sec">
    <div class="category__item cursor item1">
        <img src="./assets/mujer.jpg" alt="" class="category__img">
        <span class="category__text">Mujer</span>
    </div>
    <div class="category__item cursor item2">
        <img src="./assets/hombre.jpg" alt="" class="category__img">
        <span class="category__text">Hombre</span>
    </div>
    <div class="category__item cursor item3">
        <img src="./assets/1.jpeg" alt="" class="category__img">
        <span class="category__text">Promociones</span>
    </div>
</section>



<section class="container category">
    <h3 class="recomendados"><span>RECOMENDADOS</span></h3>
    <swiper [config]="recomendados">
        <ng-template swiperSlide *ngFor="let product of productos let i = index">
            <app-card [productos]="product"></app-card>
        </ng-template>
    </swiper>
</section>

<section class="container category">
    <h3 class="recomendados"><span>NUEVO</span></h3>
    <swiper [config]="recomendados">
        <ng-template swiperSlide *ngFor="let product of productos let i = index">
            <app-card [productos]="product"></app-card>
        </ng-template>
    </swiper>
</section>


<section class="side" id="side">
</section>
