<swiper [config]="config">
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="hero">
            <img src="./assets/hero.svg" class="hero__img" alt="">
        </div>
    </ng-template>
</swiper>

<section class="container category">
    <div class="category__item cursor">
        <img src="./assets/mujer.jpg" alt="" class="category__img">
        <span class="category__text">Mujer</span>
    </div>
    <div class="category__item cursor">
        <img src="./assets/hombre.jpg" alt="" class="category__img">
        <span class="category__text">Hombre</span>
    </div>
    <div class="category__item cursor">
        <img src="./assets/1.jpeg" alt="" class="category__img">
        <span class="category__text">Promociones</span>
    </div>
</section>



<section class="container category">
    <h3 class="recomendados"><span>Recomendados</span></h3>
    <swiper [config]="recomendados">
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
    </swiper>
</section>

<section class="container category">
    <h3 class="recomendados"><span>Nuevo</span></h3>
    <swiper [config]="recomendados">
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
        <ng-template swiperSlide>
            <app-card></app-card>
        </ng-template>
    </swiper>
</section>



<!-- 
<section class="details">
    <div class="details__img">
        <i class='bx bxs-truck'></i>
    </div>
    <h2 class="details__text">
        Envios a <br> toda colombia
    </h2>
</section> -->