
.breadcrum{
    margin: 1.5rem 0;
}
.titulo{
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.breadcrum__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--veryDarkGray-color);
}

.breadcrum__item{
    text-transform: capitalize;
    font-size: .9rem;
}

.breadcrum__item::before{
    content: "\03e";
    padding: 0 .5rem;
    font-size: .8rem;
    font-weight: 400;
}

.breadcrum__item:first-child::before{
    content: "";
    padding: 0;
}
