<footer class="">
    <section class="footer">
        <div class="container container__footer">
          <div class="footer__column1">
            <div class="footer__logo">
              <img src="./assets/logo.png" alt="" class="home__logo">
            </div>
            <ul class="footer__links">
                <li class="footer__item">Acerca de nosotros</li>
                <li class="footer__item">Promociones</li>
                <li class="footer__item">Productos</li>
                <li class="footer__item">Ayuda</li>
            </ul>
          </div>
          <div class="footer__column2">
            <div class="footer__networks">
              <i class="fab fa-facebook-square footer__social"></i>
              <i class="fab fa-twitter footer__social"></i>
              <i class="fab fa-pinterest footer__social"></i>
              <i class="fab fa-instagram footer__social"></i>
            </div>
            <div class="footer__copyrigth">
              © 2021 Tienda. Todos los derechos reservados.
            </div>
          </div>
        </div>
      </section>
</footer>
